.postform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.postform > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.postform input[type=submit]{
    font-size: 17px;
    font-weight: 700;
    margin: 22px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 5px 5px #bfb4b4;
    background-color:  #FD2D01;
    color: white;
    transition: 0.5s ease;
}

.postform input[type=submit]:hover{
    cursor: pointer;
    box-shadow: 0px 5px 10px #bfb4b4;
    background-color: #4E5166;
}

.postform label{
    color: #4E5166;
    font-size: 16px;
    font-weight: 600;
}

.postform input[type=text], textarea{
    border: solid 2px #4E5166;
}