.postform {
  background-color: white;
  max-width: 550px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #525252;
}

.postForm_title {
  font-size: 25px;
  color: #e41b47;
}

.post_field {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.PostForm_submit {
  width: 100%;
  font-size: 15px;
  border: 0;
  background-color: #e41b47;
  color: white;
  padding: 6px;
  border-radius: 4px;
}
.PostForm_submit:hover {
  cursor: pointer;
  background-color: #b4183a;
}
