.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.nav_button{
    text-decoration: none;
    color: white;
    background-color: #e41b47;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 4px;
}
.nav_button:hover{
    background-color: #b4183a;
}