.box_signup_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box_signup_field{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.signup_field{
    margin: 15px;
}

.errorSignupMsg{
    width: 100%;
    text-align: center;
    color: red;
}

.submit_signup{
    margin: 15px;
}