.loginForm {
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: white;
  max-width: 550px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}

.loginForm_title{
    font-size: 25px;
    color: #e41b47;
}
.login_field {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.errorLoginMsg {
  width: 100%;
  text-align: center;
  color: #e41b47;
}

.loginForm_submit{
    width: 100%;
    font-size: 15px;
    border: 0;
    background-color: #e41b47;
    color: white;
    padding: 6px;
    border-radius: 4px;
    margin-top: 10px;
}
.loginForm_submit:hover{
    cursor: pointer;
    background-color: #b4183a;   
}
